pretrained-models/
torch_pretrained_models/
finetuned-models/
dureader-retrieval-baseline-dataset/
output/
output_cp/
dureader-retrieval-baseline-dataset.tar.gz
saved_models/
torch_src/__pycache__/*
torch_src/__pycache__/
.idea/
log/
**/__pycache__
*.log
output*/
*.csv
dureader_retrieval-data/
bm25/collection_jsonl
bm25/indexes
bm25/runs
bm25/*.json
bm25/*.tsv
bm25/*.log
dual_res_top50/
bm25_jieba/collection_jsonl
bm25_jieba/indexes
bm25_jieba/runs
bm25_jieba/*.json
bm25_jieba/*.tsv
bm25_jieba/*.log
bm25_jieba/dual_top200*
bm25_jieba_stop/collection_jsonl
bm25_jieba_stop/indexes
bm25_jieba_stop/runs
bm25_jieba_stop/*.json
bm25_jieba_stop/*.tsv
bm25_jieba_stop/*.log

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
