pretrained-models/
torch_pretrained_models/
finetuned-models/
dureader-retrieval-baseline-dataset/
output/
output_cp/
dureader-retrieval-baseline-dataset.tar.gz
saved_models/
torch_src/__pycache__/*
torch_src/__pycache__/
.idea/
**/__pycache__

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
